body{
    margin: 0 10% 0 10%;
  align-content: center;
  background-image:url(https://cdn.shopify.com/s/files/1/1143/5434/products/Zeus_Lightning_Baby_Blue_design_710x.jpg?v=1591798257);
}

.main{
    border: 10px white solid;
    background-color: white;
    float: left;

}
.content_1{
    border: 4px #C2E9E9 solid;
    background-color: #E8FBFB;
    padding: 5px 5px 5px 5px;
    margin: 10px 0 0 0;
   float: right;
   
}
.header{
   background-color:#A8F0F0;
    text-align: right;
}
#header_sub{
    font-size: 14pt;

}
span{
    border-bottom: 2px #009097 dashed;

}

img {
    float: right;
    margin: 5px 10px 5px 10px;
}   

.column_right{
    float:right;
    width: 63%;
}
.column_left{
    float:left;
    border: 4px #C2E9E9 solid;
    background-color: #E8FBFB;
    padding: 5px 5px 5px 5px;
    margin: 10px 0 0 0;;
    width:32%;
   
}
 a:hover{
    color: palevioletred;
    text-decoration: none;
}